* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }

html, body {
	margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}
 
.container{
	position: relative;
	padding: 0px;
	margin-top: 0px;
	background: url(http://i.imgur.com/X4LV4ja.gif) no-repeat top center;
	background-size: cover;
	height: 550px;
	text-align: center;
  }
  
h1 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 40px;
   padding-top: 30px;
  }
	  
	
h2 {
	margin-top: -50px;
	font-family:'Bungee Shade', cursive, sans-serif;
	font-size: 100px;
	font-weight: 500;
	text-align: center;
}

p {
	margin: 10px;
	line-height: 35px;
	text-align: center;
	font-family: 'arial', 'times', sans-serif;
}
/*
#announcement {
	border: 0px solid slategray;
	display: inline-block;
	background-color: slategray;
	width: 25%;
	border-radius: 5px;
  }
 */
li {
	margin: 5px;
	text-align: center;
	font-family: 'arial', 'times', sans-serif;
}